<html>
  <head></head>
  <body>
    <p>
     "Guess the secret number...if you DARE!"
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
      <%= message %>
    </p>
    </p>
  </body>
</html>